body {
    background: black;
    }

    h1 {
        color: yellow;
        }

    p {
        color: white;
        }

        p:hover {
            text-decoration: underline;
            }


